<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.property.AssetTransferMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.custom_id,
    t0.estimate_id,
    t0.estimate_money,
    t0.estimate_date,t0.estimate_end_date,t0.agency_fee,t0.reality_agency_fee,
    t0.deal_money,
    t0.deal_date,
    t0.taxation,
    t0.transfer_ownership_date,
    t0.contacts,
    t0.contacts_phone,
    t0.programme,
    t0.remark,
    t0.flow_state,
    t0.is_deleted
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.property.AssetTransfer">
    SELECT
    <include refid="Base_Column_List" />
    FROM asset_transfer t0 left join property_bill propBill on t0.id = propBill.do_id
    left join customer_info customerInfo on customerInfo.id = t0.custom_id
    left join agency agency on agency.id = t0.estimate_id
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.flowState != null">
        AND t0.flow_state = #{request.flowState}
      </if>
      <if test="request.propertyId != null">
        AND propBill.property_id = #{request.propertyId}
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.customId != null">
        AND t0.custom_id = #{request.customId}
      </if>
      <if test="request.customName != null">
        AND customerInfo.customer_name LIKE CONCAT('%',#{request.customName},'%')
      </if>
      <if test="request.estimateId != null">
        AND t0.estimate_id = #{request.estimateId}
      </if>
      <if test="request.estimateName != null">
        AND agency.agency_name LIKE CONCAT('%',#{request.estimateName},'%')
      </if>
      <if test="request.estimateMoney != null">
        AND t0.estimate_money = #{request.estimateMoney}
      </if>
      <if test="request.estimateDate != null">
        AND t0.estimate_date = #{request.estimateDate}
      </if>
      <if test="request.estimateDateRange != null and request.estimateDateRange.size() > 0">
        AND t0.estimate_date BETWEEN
        <foreach collection="request.estimateDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.dealMoney != null">
        AND t0.deal_money = #{request.dealMoney}
      </if>
      <if test="request.dealDate != null">
        AND t0.deal_date = #{request.dealDate}
      </if>
      <if test="request.dealDateRange != null and request.dealDateRange.size() > 0">
        AND t0.deal_date BETWEEN
        <foreach collection="request.dealDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.taxation != null">
        AND t0.taxation = #{request.taxation}
      </if>
      <if test="request.transferOwnershipDate != null">
        AND t0.transfer_ownership_date = #{request.transferOwnershipDate}
      </if>
      <if test="request.contacts != null">
        AND t0.contacts = #{request.contacts}
      </if>
      <if test="request.contactsPhone != null">
        AND t0.contacts_phone = #{request.contactsPhone}
      </if>
      <if test="request.programme != null">
        AND t0.programme = #{request.programme}
      </if>
      <if test="request.remark != null">
        AND t0.remark = #{request.remark}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    GROUP BY t0.id
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>
