<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.property.OperationInfoMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.operation_type,
    t0.operation_date,
    t0.cost_type,
    t0.cost_money,
    t0.operation_content,
    t0.remark,
    t0.flow_state,
    t0.is_deleted,
    t0.operation_title
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.property.OperationInfo">
    SELECT
    <include refid="Base_Column_List" />
    FROM operation_info t0 left join property_bill propBill on t0.id = propBill.do_id
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.flowState != null">
        AND t0.flow_state = #{request.flowState}
      </if>
      <if test="request.operationDateRange != null and request.operationDateRange.size() > 0">
        AND t0.operation_date BETWEEN
        <foreach collection="request.operationDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.propertyId != null">
        AND propBill.property_id = #{request.propertyId}
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.operationType != null">
        AND t0.operation_type = #{request.operationType}
      </if>
      <if test="request.operationDate != null">
        AND t0.operation_date = #{request.operationDate}
      </if>
      <if test="request.costType != null">
        AND t0.cost_type = #{request.costType}
      </if>
      <if test="request.costMoney != null">
        AND t0.cost_money = #{request.costMoney}
      </if>
      <if test="request.operationContent != null">
        AND t0.operation_content = #{request.operationContent}
      </if>
      <if test="request.remark != null">
        AND t0.remark = #{request.remark}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    GROUP BY t0.id
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>
