<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.property.PropertyInfoMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.property_state,
    t0.property_name,
    t0.type,
    t0.property_type,
    t0.property_tag,
    t0.source_type,
    t0.project_id,
    t0.project_name,
    t0.reve_id,
    t0.province,
    t0.city,
    t0.district,
    t0.address,
    t0.label,
    t0.access_way,
    t0.property_describe,
    t0.area,
    t0.asset_use,
    t0.property_code,
    t0.property_end_date,
    t0.property_transfer_ownership,
    t0.transfer_ownership_remark,
    t0.debt_repayment_money,
    t0.original_value,
    t0.net_worth,
    t0.disposal_price,
    t0.Taxe_fee,
    t0.dispose_fee,
    t0.original_obligor_fee,
    t0.profit_and_loss,
    t0.is_deleted,
    t0.follow_up_person,
    t0.property_owner,
    t0.assert_time,
    t0.separable,
    t0.affiliated_unit,
          t0.land_use_nature
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.property.PropertyInfo">
    SELECT
        <include refid="Base_Column_List" />
        ,
        yy.property_money as yy_money,zr.property_money as zr_money,zl.property_money as zl_money
    FROM property_info t0
    left join (
      select
          aid.property_id,sum(aid.property_money) as property_money
      from operation_info oi
      left join asset_income_distribution aid on oi.id=aid.do_id
      where oi.flow_state='completed' and aid.property_id is not null
      <if test="request.propertyDateRange != null and request.propertyDateRange.size() > 0">
        AND aid.property_date BETWEEN
        <foreach collection="request.propertyDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      GROUP BY aid.property_id
    ) yy on t0.id=yy.property_id left join (
      select
          aid.property_id,sum(aid.property_money) as property_money
      from asset_transfer t
      left join asset_income_distribution aid on t.id=aid.do_id
      where t.flow_state='completed' and aid.property_id is not null
      <if test="request.propertyDateRange != null and request.propertyDateRange.size() > 0">
        AND aid.property_date BETWEEN
        <foreach collection="request.propertyDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      GROUP BY aid.property_id
    ) zr on t0.id=zr.property_id left join (
      select
          property_id,sum(property_money) as property_money
      from asset_income_distribution
      where do_type='LEASE_PAYMENT_CYCLE' and property_id is not null
      <if test="request.propertyDateRange != null and request.propertyDateRange.size() > 0">
        AND property_date BETWEEN
        <foreach collection="request.propertyDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      GROUP BY property_id
    ) zl on t0.id=zl.property_id
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.propertyEndDateRange != null and request.propertyEndDateRange.size() > 0">
        AND t0.property_end_date BETWEEN
        <foreach collection="request.propertyEndDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.followUpPerson != null">
        AND t0.follow_up_person LIKE CONCAT('%',#{request.followUpPerson},'%')
      </if>
      <if test="request.ids != null and request.ids.size != 0">
        AND t0.id in
        <foreach collection="request.ids" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="request.noIds != null and request.noIds.size != 0">
        AND t0.id not in
        <foreach collection="request.noIds" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="request.propertyTag != null">
        AND t0.property_tag LIKE CONCAT('%', #{request.createStamp},'%')
      </if>
      <if test="request.propertyState != null">
        AND t0.property_state = #{request.propertyState}
      </if>
      <if test="request.propertyStateList != null">
        AND t0.property_state in
        <foreach collection="request.propertyStateList" index="index" item="item" open="(" separator="," close=")">
          #{item}
        </foreach>
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.propertyState != null">
        AND t0.property_state = #{request.propertyState}
      </if>
      <if test="request.propertyName != null">
        AND t0.property_name LIKE CONCAT('%', #{request.propertyName},'%')
      </if>
      <if test="request.projectName != null">
        AND t0.project_name LIKE CONCAT('%', #{request.projectName},'%')
      </if>
      <if test="request.type != null">
        AND t0.type = #{request.type}
      </if>
      <if test="request.propertyType != null">
        AND t0.property_type = #{request.propertyType}
      </if>
      <if test="request.sourceType != null">
        AND t0.source_type = #{request.sourceType}
      </if>
      <if test="request.projectId != null">
        AND t0.project_id = #{request.projectId}
      </if>
      <if test="request.reveId != null">
        AND t0.reve_id = #{request.reveId}
      </if>
      <if test="request.province != null">
        AND t0.province = #{request.province}
      </if>
      <if test="request.city != null">
        AND t0.city = #{request.city}
      </if>
      <if test="request.district != null">
        AND t0.district = #{request.district}
      </if>
      <if test="request.address != null">
        AND t0.address = #{request.address}
      </if>
      <if test="request.label != null">
        AND t0.label = #{request.label}
      </if>
      <if test="request.accessWay != null">
        AND t0.access_way = #{request.accessWay}
      </if>
      <if test="request.propertyDescribe != null">
        AND t0.property_describe = #{request.propertyDescribe}
      </if>
      <if test="request.area != null">
        AND t0.area = #{request.area}
      </if>
      <if test="request.assetUse != null">
        AND t0.asset_use = #{request.assetUse}
      </if>
      <if test="request.propertyCode != null">
        AND t0.property_code LIKE CONCAT('%', #{request.propertyCode},'%')
      </if>
      <if test="request.propertyEndDate != null">
        AND t0.property_end_date = #{request.propertyEndDate}
      </if>
      <if test="request.propertyTransferOwnership != null">
        AND t0.property_transfer_ownership = #{request.propertyTransferOwnership}
      </if>
      <if test="request.transferOwnershipRemark != null">
        AND t0.transfer_ownership_remark = #{request.transferOwnershipRemark}
      </if>
      <if test="request.debtRepaymentMoney != null">
        AND t0.debt_repayment_money = #{request.debtRepaymentMoney}
      </if>
      <if test="request.originalValue != null">
        AND t0.original_value = #{request.originalValue}
      </if>
      <if test="request.netWorth != null">
        AND t0.net_worth = #{request.netWorth}
      </if>
      <if test="request.disposalPrice != null">
        AND t0.disposal_price = #{request.disposalPrice}
      </if>
      <if test="request.taxeFee != null">
        AND t0.Taxe_fee = #{request.taxeFee}
      </if>
      <if test="request.originalObligorFee != null">
        AND t0.original_obligor_fee = #{request.originalObligorFee}
      </if>
      <if test="request.profitAndLoss != null">
        AND t0.profit_and_loss = #{request.profitAndLoss}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>

  <!--首页资产分析饼图统计-->
  <select id="analysePie" resultType="com.jk.asset.model.dto.property.AnalysePropertyInfoDTO">
    select
        asset_unit_state as type_id,
        sum(original_value) as total_money
    from property_right_info
    where do_type='PROPERTY_INFO'
    GROUP BY asset_unit_state
  </select>

  <!--首页资产分析柱状图统计-->
  <select id="analyseHistogram" resultType="com.jk.asset.model.dto.property.AnalysePropertyInfoDTO">
    select
        pi.property_type as type_id,
        sum(pri.original_value) as total_money
    from property_info pi
    left join property_right_info pri on pi.id=pri.do_id
    where pri.do_type='PROPERTY_INFO'
    group by pi.property_type
  </select>
  <select id="findUnOperation" resultType="com.jk.asset.model.dto.PropertyInfoRemindDTO">
    SELECT
    <include refid="Base_Column_List"/>,pro.do_id
    FROM property_info t0
    LEFT JOIN property_bill pro ON t0.id = pro.property_id
    WHERE pro.property_id IS NULL and t0.is_deleted = 0;
  </select>

</mapper>
