<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.proceeding.RecoveryJudgementMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.is_stock,
    t0.filing_court_name,
    t0.judge_name,
    t0.judge_phone,
    t0.filling_date,
    t0.litigation_type,
    t0.register_type,
    t0.register_id,
    t0.filling_code,
    t0.judge_date,
    t0.court_session_date,
    t0.litigation_id,
    t0.project_id,
    t0.law_firm_id,
    t0.remarks,
    t0.flow_state,
    t0.is_deleted
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.proceeding.RecoveryJudgement">
    SELECT
    <include refid="Base_Column_List" />
    FROM recovery_judgement t0
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.flowState != null">
        AND t0.flow_state = #{request.flowState}
      </if>
      <if test="request.fillingDateRange != null and request.fillingDateRange.size() > 0">
        AND t0.filling_date BETWEEN
        <foreach collection="request.fillingDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.isStock != null">
        AND t0.is_stock = #{request.isStock}
      </if>
      <if test="request.filingCourtName != null">
        AND t0.filing_court_name LIKE CONCAT ('%',#{request.filingCourtName},'%')
      </if>
      <if test="request.judgeName != null">
        AND t0.judge_name LIKE CONCAT ('%',#{request.judgeName},'%')
      </if>
      <if test="request.judgePhone != null">
        AND t0.judge_phone LIKE CONCAT ('%',#{request.judgePhone},'%')
      </if>
      <if test="request.fillingDate != null">
        AND t0.filling_date = #{request.fillingDate}
      </if>
      <if test="request.litigationType != null">
        AND t0.litigation_type = #{request.litigationType}
      </if>
      <if test="request.registerType != null">
        AND t0.register_type = #{request.registerType}
      </if>
      <if test="request.litigationTypeList != null and request.litigationTypeList.size() > 0">
        AND t0.litigation_type in
        <foreach collection="request.litigationTypeList" index="index" item="ids" open="(" separator="," close=")">
          #{ids}
        </foreach>
      </if>
      <if test="request.registerId != null">
        AND t0.register_id = #{request.registerId}
      </if>
      <if test="request.fillingCode != null">
        AND t0.filling_code LIKE CONCAT ('%',#{request.fillingCode},'%')
      </if>
      <if test="request.judgeDate != null">
        AND t0.judge_date = #{request.judgeDate}
      </if>
      <if test="request.courtSessionDate != null">
        AND t0.court_session_date = #{request.courtSessionDate}
      </if>
      <if test="request.litigationId != null">
        AND t0.litigation_id = #{request.litigationId}
      </if>
      <if test="request.projectId != null">
        AND t0.project_id = #{request.projectId}
      </if>
      <if test="request.lawFirmId != null">
        AND t0.law_firm_id = #{request.lawFirmId}
      </if>
      <if test="request.remarks != null">
        AND t0.remarks = #{request.remarks}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>
