<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.proceeding.RecoveryLitigationDetailsMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.is_stock,
    t0.litigation_id,
    t0.project_id,
    t0.law_firm_id,
    t0.register_id,
    t0.preservation_code,t0.preserve_type,t0.preserve_apply_date,t0.preserve_rule_date,t0.insure_money,
    t0.details_date,
    t0.details_description,
    t0.litigation_type,
    t0.title,
    t0.remarks,
    t0.flow_state,
    t0.is_deleted
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.proceeding.RecoveryLitigationDetails">
    SELECT
    <include refid="Base_Column_List" />
    FROM recovery_litigation_details t0
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.detailsDateRange != null and request.detailsDateRange.size() > 0">
        AND t0.details_date BETWEEN
        <foreach collection="request.detailsDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.flowState != null">
        AND t0.flow_state = #{request.flowState}
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.registerId != null">
        AND t0.register_id = #{request.registerId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.isStock != null">
        AND t0.is_stock = #{request.isStock}
      </if>
      <if test="request.title != null">
        AND t0.title LIKE CONCAT('%',#{request.title},'%')
      </if>
      <if test="request.preservationCode != null">
        AND t0.preservation_code LIKE CONCAT('%',#{request.preservationCode},'%')
      </if>
      <if test="request.preserveType != null">
        AND t0.preserve_type = #{request.preserveType}
      </if>
      <if test="request.preserveApplyDate != null">
        AND t0.preserve_apply_date = #{request.preserveApplyDate}
      </if>
      <if test="request.preserveRuleDate != null">
        AND t0.preserve_rule_date = #{request.preserveRuleDate}
      </if>
      <if test="request.preserveApplyDateRange != null and request.preserveApplyDateRange.size() > 0">
        AND t0.preserve_apply_date BETWEEN
        <foreach collection="request.preserveApplyDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.preserveRuleDateRange != null and request.preserveRuleDateRange.size() > 0">
        AND t0.preserve_rule_date BETWEEN
        <foreach collection="request.preserveRuleDateRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.litigationId != null">
        AND t0.litigation_id = #{request.litigationId}
      </if>
      <if test="request.projectId != null">
        AND t0.project_id = #{request.projectId}
      </if>
      <if test="request.lawFirmId != null">
        AND t0.law_firm_id = #{request.lawFirmId}
      </if>
      <if test="request.detailsDate != null">
        AND t0.details_date = #{request.detailsDate}
      </if>
      <if test="request.detailsDescription != null">
        AND t0.details_description = #{request.detailsDescription}
      </if>
      <if test="request.litigationType != null">
        AND t0.litigation_type = #{request.litigationType}
      </if>
      <if test="request.remarks != null">
        AND t0.remarks = #{request.remarks}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>
