<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.RevePropertyInfoMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.source_id,
    t0.bill_type,
    t0.do_id,
    t0.do_type,
    t0.security_way,
    t0.security_type,
    t0.reve_name,
    t0.reve_measure,
    t0.is_dispose,
    t0.dispose_money,
    t0.preserve_date,
    t0.remark,
    t0.debt_repayment_date,
    t0.debt_repayment_money,
    t0.preserve_type,
    t0.preserve_apply_date,
    t0.preserve_rule_date,
    t0.insure_money,
    t0.is_deleted
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.RevePropertyInfo">
    SELECT
    <include refid="Base_Column_List" />
    FROM reve_property_info t0
    <where>
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.sourceId != null">
        AND t0.source_id = #{request.sourceId}
      </if>
      <if test="request.billType != null">
        AND t0.bill_type = #{request.billType}
      </if>
      <if test="request.doId != null">
        AND t0.do_id = #{request.doId}
      </if>
      <if test="request.doType != null">
        AND t0.do_type = #{request.doType}
      </if>
      <if test="request.securityWay != null">
        AND t0.security_way = #{request.securityWay}
      </if>
      <if test="request.securityType != null">
        AND t0.security_type = #{request.securityType}
      </if>
      <if test="request.reveName != null">
        AND t0.reve_name = #{request.reveName}
      </if>
      <if test="request.reveMeasure != null">
        AND t0.reve_measure LIKE CONCAT('%',#{request.reveMeasure},'%')
      </if>
      <if test="request.isDispose != null">
        AND t0.is_dispose = #{request.isDispose}
      </if>
      <if test="request.disposeMoney != null">
        AND t0.dispose_money = #{request.disposeMoney}
      </if>
      <if test="request.preserveDate != null">
        AND t0.preserve_date = #{request.preserveDate}
      </if>
      <if test="request.remark != null">
        AND t0.remark = #{request.remark}
      </if>
      <if test="request.debtRepaymentDate != null">
        AND t0.debt_repayment_date = #{request.debtRepaymentDate}
      </if>
      <if test="request.debtRepaymentMoney != null">
        AND t0.debt_repayment_money = #{request.debtRepaymentMoney}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>
</mapper>
