<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jk.asset.mapper.SubjectInfoMapper">

  <!-- 通用查询结果列 -->
  <sql id="Base_Column_List">
    t0.id,
    t0.tenant_id,
    t0.creator,
    t0.create_stamp,
    t0.last_editor,
    t0.last_edit_stamp,
    t0.subject_name,
    t0.subject_logo,
    t0.nature,
    t0.subject_type,
    t0.document_type,
    t0.document_number,
    t0.legal_representative,
    t0.contacts,
    t0.phone,
    t0.belong_province,
    t0.belong_city,
    t0.belong_district,
    t0.address,
    t0.remark,
    t0.is_deleted
  </sql>

  <select id="findAll" resultType="com.jk.asset.model.entity.SubjectInfo">
    SELECT
    <include refid="Base_Column_List" />
    FROM subject_info t0
    <where>
      t0.is_deleted = 0
      <if test="request.createStampRange != null and request.createStampRange.size() > 0">
        AND t0.create_stamp BETWEEN
        <foreach collection="request.createStampRange" index="index" item="item" open="" separator=" AND " close="">
          #{item}
        </foreach>
      </if>
      <if test="request.id != null">
        AND t0.id = #{request.id}
      </if>
      <if test="request.tenantId != null">
        AND t0.tenant_id = #{request.tenantId}
      </if>
      <if test="request.creator != null">
        AND t0.creator = #{request.creator}
      </if>
      <if test="request.createStamp != null">
        AND t0.create_stamp = #{request.createStamp}
      </if>
      <if test="request.lastEditor != null">
        AND t0.last_editor = #{request.lastEditor}
      </if>
      <if test="request.lastEditStamp != null">
        AND t0.last_edit_stamp = #{request.lastEditStamp}
      </if>
      <if test="request.subjectName != null">
        AND t0.subject_name LIKE CONCAT('%',#{request.subjectName},'%')
      </if>
      <if test="request.nature != null">
        AND t0.nature = #{request.nature}
      </if>
      <if test="request.subjectType != null">
        AND t0.subject_type = #{request.subjectType}
      </if>
      <if test="request.documentType != null">
        AND t0.document_type = #{request.documentType}
      </if>
      <if test="request.documentNumber != null">
        AND t0.document_number LIKE CONCAT('%',#{request.documentNumber},'%')
      </if>
      <if test="request.legalRepresentative != null">
        AND t0.legal_representative LIKE CONCAT('%',#{request.legalRepresentative},'%')
      </if>
      <if test="request.contacts != null">
        AND t0.contacts LIKE CONCAT('%',#{request.contacts},'%')
      </if>
      <if test="request.phone != null">
        AND t0.phone LIKE CONCAT('%',#{request.phone},'%')
      </if>
      <if test="request.belongProvince != null">
        AND t0.belong_province = #{request.belongProvince}
      </if>
      <if test="request.belongCity != null">
        AND t0.belong_city = #{request.belongCity}
      </if>
      <if test="request.belongDistrict != null">
        AND t0.belong_district = #{request.belongDistrict}
      </if>
      <if test="request.address != null">
        AND t0.address = #{request.address}
      </if>
      <if test="request.remark != null">
        AND t0.remark = #{request.remark}
      </if>
      <if test="request.isDeleted != null">
        AND t0.is_deleted = #{request.isDeleted}
      </if>
    </where>
    <choose>
      <when test="request.field != null and request.order != null">
        ORDER BY ${request.field} ${request.order}
      </when>
      <otherwise>
        ORDER BY t0.id DESC
      </otherwise>
    </choose>
  </select>

  <select id="findRepeatDocumentCode" resultType="java.lang.String">
    SELECT DISTINCT si.document_number
    from subject_info si  inner join project_info pi on   si.id = pi.debtor_id and pi.is_deleted = 0
    WHERE si.is_deleted = 0
      and si.document_number in
    <foreach collection="documentCodeList" item="item" separator="," open="(" close=")">
      #{item}
    </foreach>
  </select>
</mapper>
